.drawer-right {
  position: relative;
}

.mdc-drawer--temporary .mdc-drawer__drawer[dir="rtl"], [dir="rtl"] .mdc-drawer--temporary .mdc-drawer__drawer {
  transform: translateX(calc(107% - 20px));
}

.mdc-drawer__header {
  background-color: #212121 !important;
  color: white;
  box-sizing: border-box;
}

.mdc-drawer__header-content {
  padding: 4rem;
}

.mdc-drawer__header .drawer-right--header {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  width: 100%;
  height: 100%;
  position: relative;
}

.drawer-right--header-text {
  position: absolute;
  bottom: 0rem;
  right: 1rem;
}

.mdc-drawer--temporary .mdc-drawer__content {
  padding: 1rem;
  direction: ltr;
}

.mdc-text-field {
  margin: 1.5rem 0 !important;
}

.mdc-text-field--textarea, .mdc-text-field--textarea .mdc-text-field__input {
  border: none !important;
}

.mdc-text-field--textarea .mdc-text-field__input {
  padding-left: 0 !important;
}

.mdc-text-field .mdc-text-field__label {
  transform-origin: left top !important;
  left: 0 !important;
  right: auto !important;
}
.mdc-text-field--textarea .mdc-text-field__label {
  padding-left: 0 !important;
}

.mdc-text-field__input {
  direction: 'ltr';
}

.drawer-right--footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.drawer-right--footer a {
  margin-left: 12px;
}