body {
  font-family: Roboto, sans-serif;
}

:root {
  --mdc-theme-primary: #607D8B;
  --mdc-theme-secondary: #E91E63;
  --mdc-theme-secondary-light: #f1f1f1;
  --mdc-theme-secondary-dark: #333;
  font-size: 15px;
}

.body--content {
  margin-top: 64px;
}

.logo {
  height: 24px;
  margin-top: 6px;
  margin-left: 24px;
  margin-right: 18px;
  vertical-align: bottom;
}

.layout--right-action {
  margin-top: 12px;
  margin-right: 24px;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

a.underline {
  text-decoration: underline;
}

.inherits {
  color: inherit;
}

i {
  vertical-align: middle;
}

ul {
  list-style: none;
  margin: -0.25rem 0 3rem 13px;
  padding: 0;
}

ul.no-left-pad {
  margin-left: -5px;
}

ul.no-bottom-pad {
  margin-bottom: 0rem;
}

ul.no-top-pad {
  margin-top: 0rem;
}

li {
  display: inline-block;
  vertical-align: top;
  margin: 0.25rem;
}
li.separator {
  margin: 0 0.25rem;
}

.uppercase {
  text-transform: uppercase;
}

.content--full {
  max-width: 100%;  
}

.content--narrow {
  max-width: 620px;
  margin: 0 auto;
}

.mdc-toolbar--fixed {
  background-color: white !important;
  box-shadow: none;
}

.mdc-toolbar__title {
  margin-left: 0.5rem;
}

.mdc-grid-list__tiles {
  justify-content: center;
  align-items: center;
}

.layout--bottom-right {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}