.date-details--tickers {
  margin-top: 0.25;
  margin-left: -0.5rem;
}

.date-details--tickers a {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.date-details--tickers a strong {
  font-size: 0.65rem;
}

.list-overview__list.details {
  margin-top: 1rem;
}

.date-details--toggle-details {
  display: block;
  margin-top: 0.5rem;
}

.date-details--toggle-details i {
  font-size: 0.85rem;
  line-height: 1.25rem;
}
.date-details--results {
  margin-top: 1.5rem;
  padding: 0.5rem;
  border: 1px solid #ddd;
}