ul.list-overview__active-terms { 
  margin-left: 0; 
  margin-bottom: 1.25rem
}

.mdc-list-item {
  height: auto;
}

.mdc-list-item.header {
  height: 48px;
}

.list-overview__list {
  position: relative;
  padding-top: 46px;
}

.list-overview__list-item {
  border-bottom: 1px solid #f1f1f1;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.list-overview__list-item.header {
  position: absolute;
  top: 0;
  background-color: #f1f1f1;
  font-size: 0.75rem;
  width: 100%;
  box-sizing: border-box;
  border-bottom: none;
}

.list-overview__right-label, 
.list-overview__middle-label, 
.list-overview__left-label,
.list-overview__left-content,
.list-overview__middle-content,
.list-overview__right-content {
  display: inline-flex;
  justify-content: left;
  flex: 0.16;
  line-height: 1.1
}
.list-overview__middle-label, .list-overview__middle-content {
  flex: 0.78;
  line-height: 1.4;
}

.mdc-list-item__secondary-text {
  margin-top: 0.5rem;
}

.list-overview__left-label, .list-overview__left-content {
  justify-content: right;
}

.list-overview__list-item--indicators {
  position: relative;
}

.list-overview__list-item--indicator {
  margin-right: 0;
  display: block;
}

.list-overview__list-item--indicator-inner {
  position: relative;
  color: #212121;
}

.list-overview__list-item--indicators .list-overview__list-item--indicator-inner i {  
  font-size: 1rem;
  line-height: 1.5rem;
  vertical-align: top;
  position: absolute;
  left: -21px;
  top: -11px;
}

.list-overview__list-item--indicators .list-overview__list-item--indicator:first-child i {
  display: none;
}